* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

*,
html {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mystery+Quest&display=swap");
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body {
  padding: 3em 12em 0;
}

a {
  text-decoration: none;
}

.see-more-link {
  color: rgba(41, 21, 7, 0.6);
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

hr {
  border: none;
  border-top: 3px solid @brown;
  width: 6rem;
  margin: 0;
  // margin-bottom: 3.6rem;
}